<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASIHTTPRequest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>OMDBManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>OMDispatchCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>OMDownloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>downloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BCD859AE16EEEB9000822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85A5E16EF047600822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85A6E16EF04A900822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85A7E16EF04CA00822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85A9516EF054200822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85AE316EF44CC00822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85AF416EF466000822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85B2016EF491800822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85B5016EF4BE300822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85B9716EF4EBD00822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85BC216EF501F00822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85BDB16EF516800822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCD85BF316EF52B800822D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
